body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: white;
  text-align: center;
}

.container {
  max-width: 400px;
  margin: auto;
  padding: 50px 20px;
  background: #370028;
  border-radius: 10px;
}

h1 {
  color: white;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #fff;
  background: #222;
  color: white;
  border-radius: 5px;
}

button {
  padding: 10px;
  width: 95%;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background: white;
  color: #370028;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #370028;
  color: white;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-around;
  background-color: #370028;
}

.tab-button {
  flex: 1;
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  color: white;
}

.tab-button.active {
  background-color: #fff;
  color: #370028;
}

.tab-content {
  display: none;
  padding: 20px;
}

.tab-content.active {
  display: block;
}

/* Métro & animation */
#metronome-beat {
  width: 50px;
  height: 50px;
  margin: 20px auto;
  background: white;
  border-radius: 50%;
  transition: transform 0.1s;
}

#metronome-beat.beat {
  transform: scale(1.2);
}
