:root {
  --main-bg-color: #370028;
  --main-font-color: #370028;
  --secondary-bg-color: #f0f0f0;
  --secondary-font-color: white;
  --hover-bg-color: white;
  --hover-font-color: #370028;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: var(--main-font-color);
  text-align: center;
}

.container {
  max-width: 400px;
  margin: auto;
  padding: 50px 20px;
  background: var(--main-bg-color);
  border-radius: 10px;
  color: var(--secondary-font-color);
}

h1 {
  color: var(--main-font-color);
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--main-font-color);
  background: var(--secondary-bg-color);
  color: var(--main-font-color);
  border-radius: 5px;
}

button {
  padding: 10px;
  width: 95%;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background: var(--main-bg-color);
  color: var(--secondary-font-color);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background: var(--hover-bg-color);
  color: var(--hover-font-color);
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-around;
  background-color: var(--main-bg-color);
}

.tab-button {
  flex: 1;
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  color: var(--secondary-font-color);
}

.tab-button.active {
  background-color: var(--hover-bg-color);
  color: var(--main-font-color);
}

.tab-content {
  display: none;
  padding: 20px;
}

.tab-content.active {
  display: block;
}

/* Métro & animation */
#metronome-beat {
  width: 50px;
  height: 50px;
  margin: 20px auto;
  background: var(--main-bg-color);
  border-radius: 50%;
  transition: transform 0.1s;
}

#metronome-beat.beat {
  transform: scale(1.2);
}
